*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Roboto','Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
	color: #FFFFFF;
	background: 	  	 	#060613;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

			text-align: left;
			font-size : 100%;
}
#block{
			display:inline-block;
			width:50%;
			margin-left :25%;


		}
#footerIcon{
	width:15px;
	height: :15px;
}
#profilePicture{
			float:right;
			text-align : right;
			float:right;
		}
#profileText{
			float:left;
			color: #FFFFFF;
			width : 50%;
			margin-top :2.5%;
			text-align : left;
		}
#blockLeft{
			float:left;
			width : 50%;
			text-align : left;
		}

#blockRight{
			float:right;
			width : 50%;
			text-align : left;
		}

#piece_text{
			float:right;
			width : 50%;
			text-align : left;
			margin-top :2.5%;
		}
ul {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}